<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Created by user:</strong>
  <%= @event.owner %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-link" %> |
<%= link_to 'Back', events_path, class: "btn btn-link" %>
